@font-face {
  font-family: "Misteri Caps";
  src: url("MisteriCaps-8Mxyz.ttf") format("truetype");
}

/*header*/
/* Sections centering */
header {
  align-self: center;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  display: inline-block;
  text-overflow: clip;
}
/* header font*/
header {
  font-family: "Misteri Caps";
  color: white;
  font-size: 48px;
  line-height: 1.5;
}

/*main*/
main {
  display: inline-block;
  margin: auto;
  text-align: center;
  text-overflow: clip;
}
/*Grid for cards*/
main {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "deck"
    "results";
  gap: 1em;
}
/*assign the sections*/
section[deck] {
  grid-area: deck;
  align-self: center;
  margin: auto;
}
section[results] {
  grid-area: results;
  align-self: center;
  margin: auto;
}
